In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [111]:
dataset=pd.read_csv(" Airbnb.csv")

In [112]:
print(dataset)

             id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

      neighbourhood_group  latitude  longitude        room_type  price  \
0                Brooklyn  40.64749  -73.97237     Private room    149
1               Manhattan  40.75362  -73.98377  Entire home/apt    225
2               Manhattan  40.80902  -73.94190     Private room    150
3                Brooklyn  40.68514  -73.95976  Entire home/apt     89
4               Manhattan  40.79851  -73.94399  Entire home/apt     80
...                   ...       ...        ...              ...    ...
48890            Brooklyn  40.67853  -73.94995     Private room     70
48891            Brooklyn  40.70184  -73.93317     Private room     40
48892           Manhattan  40.81475  -73.94867  Entire home/apt    115
48893           Manhattan  40.75751  -73.99112      Shared room     55
48894           Manhattan  40.76404  -73.98933     Private room     90

       minimum_nights  number_of_reviews  reviews_per_month  \
0                   1                  9               0.21
1                   1                 45               0.38
2                   3                  0                NaN
3                   1                270               4.64
4                  10                  9               0.10
...               ...                ...                ...
48890               2                  0                NaN
48891               4                  0                NaN
48892              10                  0                NaN
48893               1                  0                NaN
48894               7                  0                NaN

       calculated_host_listings_count  availability_365
0                                   6               365
1                                   2               355
2                                   1               365
3                                   1               194
4                                   1                 0
...                               ...               ...
48890                               2                 9
48891                               2                36
48892                               1                27
48893                               6                 2
48894                               1                23

[48895 rows x 13 columns]

In [113]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-6].values
print(x)
print(y)

[[2539 'Clean & quiet apt home by the park' 2787 ... 9 0.21 6]
 [2595 'Skylit Midtown Castle' 2845 ... 45 0.38 2]
 [3647 'THE VILLAGE OF HARLEM....NEW YORK !' 4632 ... 0 nan 1]
 ...
 [36485431 'Sunny Studio at Historical Neighborhood' 23492952 ... 0 nan 1]
 [36485609 '43rd St. Time Square-cozy single bed' 30985759 ... 0 nan 6]
 [36487245 "Trendy duplex in the very heart of Hell's Kitchen" 68119814
  ... 0 nan 1]]
[149 225 150 ... 115  55  90]

In [114]:
from sklearn.impute import SimpleImputer
import numpy as np
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")
imputer.fit(x[:, 8:13])
x[:, 8:13] = imputer.transform(x[:, 8:13])

In [115]:
print(x)

[[2539 'Clean & quiet apt home by the park' 2787 ... 9.0 0.21 6.0]
 [2595 'Skylit Midtown Castle' 2845 ... 45.0 0.38 2.0]
 [3647 'THE VILLAGE OF HARLEM....NEW YORK !' 4632 ... 0.0
  1.3732214298586618 1.0]
 ...
 [36485431 'Sunny Studio at Historical Neighborhood' 23492952 ... 0.0
  1.3732214298586618 1.0]
 [36485609 '43rd St. Time Square-cozy single bed' 30985759 ... 0.0
  1.3732214298586618 6.0]
 [36487245 "Trendy duplex in the very heart of Hell's Kitchen" 68119814
  ... 0.0 1.3732214298586618 1.0]]

In [116]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [117]:
print(x)

[[0.0 1.0 0.0 ... 9.0 0.21 6.0]
 [0.0 0.0 1.0 ... 45.0 0.38 2.0]
 [0.0 0.0 1.0 ... 0.0 1.3732214298586618 1.0]
 ...
 [0.0 0.0 1.0 ... 0.0 1.3732214298586618 1.0]
 [0.0 0.0 1.0 ... 0.0 1.3732214298586618 6.0]
 [0.0 0.0 1.0 ... 0.0 1.3732214298586618 1.0]]

In [118]:
dataset['price'].describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [119]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=np.array(le.fit_transform(y))

In [120]:
print(y)

[138 214 139 ... 104  44  79]